logs/
npm-debug.log
yarn-error.log
node_modules/
package-lock.json
yarn.lock
coverage/
.idea/
run/
.DS_Store
*.sw*
*.un~
typings/
.nyc_output/
backend/config/config.default.js
backend/node_modules
backend/package-lock.json
backend/logs
backend/typings
backend/run

front/package-lock.json
front/uview-ui
front/unpackage
front/node_modules
